<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Securities</title>

</head>
<body>


<div id="editableTable">
    <table class="table table-bordered table-hover editable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Инструмент</th>
                <th scope="col">Стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${securities.empty}">
                <td colspan="3">No securities available.</td>
            </tr>
            <tr th:each="security : ${securities}">
                <td class="edit-td" id="date-td"><span th:text="${security.date}">Date</span></td>
                <td class="edit-td" id="comp-td"><span th:text="${security.company}">Company</span></td>
                <td class="edit-td" id="cost-td"><span th:text="${security.cost}">Cost</span></td>
            </tr>
        </tbody>
    </table>
</div>

    <!--<button id="open-modal" class="btn btn-primary">Добавить</button>-->
<button id="open-modal" class="btn btn-primary">Добавить запись</button>

<div id="modal1" class="modal-div">
    <form name="form" method="post">
        <div class="form-group col-md-6">
            <label for="date">Дата</label>
            <input required type="date" class="form-control" name="date" id="date"/>
        </div>

        <div class="form-group col-md-6">
            <label for="company">Инструмент</label>
            <input required type="text" class="form-control" name="company" id="company"/>
        </div>

        <div class="form-group col-md-6">
            <label for="cost">Стоимость</label>
            <input required type="text" class="form-control" name="cost" id="cost"/>
        </div>

        <div id="form-btn-save">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>

        <div id="form-btn-cls">
            <button type="button" id="close-modal" class="btn btn-primary">Отмена</button>
        </div>

    </form>


</div>


<!--TODO: МОДАЛЬНОЕ ОКНО-->
<!--TODO: ГРАФИК АКЦИЙ-->
<!--TODO: INLINE РЕДАКТИРОВАНИЕ ПОЛЕЙ-->
<!--TODO: ПРОВЕРКА ПУСТОГО ВВОДА-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/modal.js"></script>
<script src="./js/edit-content.js"></script>
</body>
</html>