p {color: red;}

.modal-div{
    width: 450px;
    height: fit-content;
    position: fixed;
    display: none;
    background: rgb(56, 198, 255);
    top: 40%;
    left: 45%;
    margin-top: -150px;
    margin-left: -150px;
    padding: 20px 10px;
}

#open-modal{
    margin-left: 2em;
    width: 20%;

}
#editableTable table{
    width: 50%;
    margin: 2em;
}

#modal1 .form-group {
    min-width: 100%;
}

#modal1 #form-btn-save {
    margin-left: 1em;
    width: auto;
    float: left;
}

#modal1 #form-btn-cls {
    margin-right: 1em;
    width: auto;
    float: right;
}


.ct-chart {
    max-width: 50%;
    margin-left: 1em;
    margin-top: 1em;
}
.sel #select-company{
    margin-left: 1em;
    display: inline-block;
}
.sel {
    margin-left: 1em;
    margin-top: 1em;
}
